body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.nav-parent-card{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0PX;
    z-index: 10;
    border-bottom: 1px #404040 solid;
    
}

.nav-element-2{
    display: flex;
    margin-right: 70px;
     

}

.nav-element-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 30px;
    width: fit-content; 
    height: fit-content;  
    margin-top: 9px;
   
}

.salon-name{
    color: goldenrod;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.salon-name-2{
    margin-top: 0px;
    font-weight: bold;
    font-size: 25px;
    color: goldenrod;
    font-family: Kalam;
}



.contact-text{
    color: goldenrod;
    margin-left: 30px;
    font-weight: bold;
}

.bg-img-parent-card{
    width: 100%;
    height: 400px;
    background-color: black;
    position: absolute;
    top: 70px;
}

.background-img{
 width: 90%;
 height: 90%;
 background-image: url("./images/banner3.jpg");
 background-size: cover;
 display: block;
 margin:20px auto;
 border-radius: 5px;

}

.trend-parent-card{
    font-weight: bold;
    margin-top: 500PX;
    font-family: "Concert One", sans-serif;
    font-size: 25px;
  
}

.trendseting-services-text{
    text-align: center;
    margin-bottom: 18px;
    
}

.complementry-text{
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}

.services-parent-card{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.service-card{
    width: 230px;
    height: 230px;
    background-image: url("./images/Pedicure-Manicure.jpg");
    background-size: cover;
    margin: 30px;
    box-shadow: 0px 0px 10px 2px gray;
    border-radius: 5px;
}

.service-card-2{
    width: 230px;
    height: 230px;
    background-image: url("./images/beuty-sutra-3.jpg");
    background-size:cover;
    margin: 30px;
    box-shadow: 0px 0px 10px 2px gray;
    border-radius: 5px;

}

.service-card-3{
    width: 230px;
    height: 230px;
    background-image: url("./images/Peptide-Magic.jpg");
    background-size:cover;
    margin: 30px;
    box-shadow: 0px 0px 10px 2px gray;
    border-radius: 5px;

}

.service-card-4{
    width: 230px;
    height: 230px;
    background-image: url("./images/Everyday-Glam-makeup-2.jpg");
    background-size:cover;
    margin: 30px;
    box-shadow: 0px 0px 10px 2px gray;
    border-radius: 5px;

}

.service-card-text{

    text-align: center;
    margin-top: 195px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: cursive;
    background-color: white;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    height: 35px;
      
}

footer{
    height: 250px;
    width: 100%;
    background-color: black;
}